@import "assets/root.css";
 /*! RESET STYLE */
 *,
 *::before,
 *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 html {
    font-family: Roboto, sans-serif; 
   font-size: 16px;
   text-rendering: optimizeLegibility;
   color: black;
   scroll-behavior: smooth;
 }
 img {
   width: 100%;
   display: block;
 }
 a {
   -webkit-tap-highlight-color: transparent;
   text-decoration: none;
   color: var(--color-text-2);
 }
 button,
 input {
   outline: none;
   border: none;
   -webkit-tap-highlight-color: transparent;
 }
 ul,
 ol {
   list-style-type: none;
   padding: 0;
 }

 .row-max-width {
   width: 100%;
   max-width: 1920px;
   margin: auto;
 }

/* header */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header__content--top{
    border-bottom: 1px solid var(--color-text-3);
}
.header__top{
    height: 60px;
    margin:0 auto;
    max-width: 1160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__top--left{
    display: flex;
    align-items: center;
}
.header__top--left__logo{
    width: 40px;
}
.header__top--left__search{
    position: relative;
    margin-left: 20px;
}
.header__top--left__search ion-icon{
    position: absolute;
    top: 50%;
    font-size: var(--size-text-6);
    transform: translateY(-50%);
    left: 12px;
    color: var(--color-text-1);
}
.header__top--left__search--input:focus,
.header__top--left__search--input:hover{
    outline: 1px solid var(--color-background-3);
    background: var(--color-background-0);
}
.header__top--left__search--input{
    padding: 12px 20px 12px 38px;
    width: 280px;
    background: var(--color-background-5);
    border-radius: var(--border-radius-size-5);
    font-size: var(--size-text-4);
    line-height: 16px;
}
.header__top--right ul{
    display: flex;
    gap: 10px;
}
.header__top--right ul li a img{
    width: 22px;
    height: 14.6px;
}
.header__top--right ul li a ion-icon{
    margin-left: 5px;
}
.header__top--right ul li .header__top--right__item:hover{
    background:  var(--color-background-5);
}
.header__top--right ul li .header__top--right__item{
    padding:  12px 13px;
    color: var(--color-text-1);
    font-size: var(--size-text-3);
    font-weight:500;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .5px;
    border-radius: var(--border-radius-size-5);
}
.header__top--right__itemlast{
    padding:  12px 13px;
    color: var(--color-text-8);
    font-size: var(--size-text-3);
    background: var(--color-background-3);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .5px;
    border-radius: var(--border-radius-size-5);
}
.header__top--right-last:hover{
    background: var(--color-background-3);
}
.header__bottom{
    height:55px;
    margin:0 auto;
    max-width: 1160px;
    display: flex;
    align-items: center;
}
.header__bottom--listlink__all{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    font-size: var(--size-text-4);
    gap: 5px;
}
.header__bottom--listlink__all li{
    margin-right:10px;
}
.header__bottom--listlink__all li a:hover{
    background:  var(--color-background-5);
}
.header__bottom--voucher:hover{
    background:  var(--color-background-5);
}
.header__bottom--listlink__all li a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-1);
    font-size: var(--size-text-3);
    font-weight: bolder;
    padding: 10px 9px;
    border-radius: var(--border-radius-size-6);
}
.header__bottom--listlink__allcategory{
    position: relative;
}
.header__bottom--listlink__allcategory:hover .header__bottom--listlink__allcategory--list{
    visibility: visible;
}
.header__bottom--listlink__allcategory .header__bottom--listlink__allcategory--list:hover{
    visibility: visible;
}
.header__bottom--listlink__allcategory::before{
    position: absolute;
    content: '';
    top: 90%;
    left: 0;
    width: 100%;
    height: 20px;
    background: transparent;
    z-index: 2;
}
.header__bottom--listlink__allcategory--list{
    visibility: hidden;
    position: absolute;
    top: 130%;
    left: -300%;
    width: 1160px;
    height: calc(100vh - 115.8px);
    background-color: var(--color-background-0);
    display: flex;
    padding:10px;
    border-radius: var(--border-radius-size-5);
}
.header__bottom--listlink__allcategory--list__item{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding:30px;
    gap: 20px;
    border-right: 1px solid var(--color-background-5);
}
.header__bottom--listlink__allcategory--list__item:last-child{

    border-right: none
}
.header__bottom--listlink__allcategory--list__item--title{
    display: flex;
    justify-content: start;
    font-size: var(--size-text-5);
}
.header__bottom--listlink__allcategory--list__item--content{
    
    font-size: var(--size-text-5);
}
.header__bottom--listlink__allcategory--list__item--content p a{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    color: var(--color-text-2);
    font-size: var(--size-text-5);
    font-weight: 400;
    margin-bottom: 20px;
}
.header__bottom--listlink__allcategory--list__item--content p a ion-icon{
    font-size: var(--size-text-5);
    width: 30%;
}
.header__bottom--listlink__allcategory--list__item--content p a:hover{
    margin: 0;
    background: none;
    color: var(--color-background-3);
    padding: 0;
    margin-bottom: 20px;
}
.header__bottom--listlink__fi ion-icon{
    font-size: var(--size-text-6);
    margin-right: 7px;
}
.header__bottom--listlink__la ion-icon{
    font-size: 5px;
}

.header__bottom--voucher{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 9px;
    border-radius: var(--border-radius-size-6);
}
.header__bottom--voucher a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-1);
    font-size: var(--size-text-4);
}
.header__bottom--voucher img{
    width: 22px;
}

/* slider */
.home__slider{
    margin-top: 115.8px;
    height: 480px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content:center ;
}
.home__slider--show{
    overflow: hidden;
    position: relative;
}
.home__slider--list__images{
    display: flex;
    transform: translateX();
    transition: .5s;
}
.home__slider--item__image{
    width: 100%;
}
.btn:hover{
    color: var(--color-text-8);
    font-size: 50px;
    transition: .25s;
}
.btn{
    height: 480px;
    width: 110px;
    font-size: 45px;
    color: var(--color-text-3);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__slider--btn__left{
    left: 0;
    background:linear-gradient(to right, rgba(0,0,0,.4) ,transparent 80%);
}
.home__slider--btn__right{
    right:  0;
    background:linear-gradient(to left, rgba(0,0,0,.4) ,transparent 80%);
}
.home__slider--contents{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100%;
    max-width: 1160px;
}
.home__slider--content__title{
    margin: 0;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-text-8);
    margin-bottom: 5px;
}
.home__slider--content__des{
    margin: 0;
    font-size: var(--size-text-5);
    font-weight: 400;
    text-transform: capitalize;
    color: var(--color-text-8);
    margin-bottom: 20px;
}
.home__slider--searchbox:hover{
    outline: var(--color-background-3) solid 1px;
}
.home__slider--searchbox{
    border-radius: var(--border-radius-size-2);
    background: var(--color-background-0);
    width: 800px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}
.home__slider--serchbox__search {
    width: 80%;
    display: flex;
    align-items: center;
}
.home__slider--serchbox__search ion-icon{
    font-size: var(--size-text-7);
    margin-left: 10px;
    color: var(--color-text-2);
}
.home__slider--serchbox__search input{
    padding: 10px 5px;
    width: 70%;
    line-height: 20px;
    font-size: var(--size-text-5);
    color: var(--color-text-2);
    outline: none;
    border: none;
    margin-left: 10px;
}
.home__slider--searchbox__btn {
    color: var(--color-text-8);
    background: var(--color-background-3);
    font-size: var(--size-text-4);
    border: none;
    border-radius: var(--border-radius-size-1);
    padding: 15px 35px;
    font-weight: 600;
    cursor: pointer;
}


